$end: 10;
$step: 5;
$use-margin: false;
$use-padding: true;

@for $i from 0 through $end {
  @if ($use-margin) {
    .mt#{$i * $step} {
      margin-top: $step * $i + "px";
    }

    .mb#{$i * $step} {
      margin-bottom: $step * $i + "px";
    }
  }

  @if ($use-padding) {
    .pt#{$i * $step} {
      padding-top: $step * $i + "px";
    }

    .pb#{$i * $step} {
      padding-bottom: $step * $i + "px";
    }
  }
}
