$gnavi: (
  height: 60px,
  buttonWidth: 150px,
);

$width: (
  contents: 1024px,
  sideArea: 300px,
);

$padding: (
  area: 20px,
  headerTop: 40px,
  headerBottom: 20px,
);

$path: (
  img: "/images/",
);
